In [2]:
import pandas as pd

In [12]:
data = pd.read_csv('../data/book_sales.csv', index_col='Date', parse_dates=True)

In [13]:
data.head()

            Paperback  Hardcover
Date
2000-04-01        199        139
2000-04-02        172        128
2000-04-03        111        172
2000-04-04        209        139
2000-04-05        161        191

In [14]:
data["Lag_1"] = data["Hardcover"].shift(1)

In [15]:
data.head()

            Paperback  Hardcover  Lag_1
Date
2000-04-01        199        139    NaN
2000-04-02        172        128  139.0
2000-04-03        111        172  128.0
2000-04-04        209        139  172.0
2000-04-05        161        191  139.0

In [16]:
data.reindex(columns=["Hardcover", "Lag_1"])

            Hardcover  Lag_1
Date
2000-04-01        139    NaN
2000-04-02        128  139.0
2000-04-03        172  128.0
2000-04-04        139  172.0
2000-04-05        191  139.0
2000-04-06        168  191.0
2000-04-07        170  168.0
2000-04-08        145  170.0
2000-04-09        184  145.0
2000-04-10        135  184.0
2000-04-11        218  135.0
2000-04-12        198  218.0
2000-04-13        230  198.0
2000-04-14        222  230.0
2000-04-15        206  222.0
2000-04-16        240  206.0
2000-04-17        189  240.0
2000-04-18        222  189.0
2000-04-19        158  222.0
2000-04-20        178  158.0
2000-04-21        217  178.0
2000-04-22        261  217.0
2000-04-23        238  261.0
2000-04-24        240  238.0
2000-04-25        214  240.0
2000-04-26        200  214.0
2000-04-27        201  200.0
2000-04-28        283  201.0
2000-04-29        220  283.0
2000-04-30        259  220.0